---
import { Image } from 'astro:assets';
import service1 from '../images/1.jpg';
import service2 from '../images/2.jpg';
import service3 from '../images/3.jpg';
import service4 from '../images/4.jpg';
import service5 from '../images/5.jpg';
import service6 from '../images/6.jpg';
import service7 from '../images/9.jpg';
import service8 from '../images/8.jpg';
---

<!-- Gallery Section -->
<section id="gallery" class="mb-12 md:mb-24">
    <div class="relative flex flex-col">
        <!-- Section Header -->
        <span class="block text-sm font-semibold tracking-widest text-center md:text-left text-accent mb-xs">GALLERY</span>
        <h2 class="text-4xl leading-none tracking-tight text-center text-secondary mb-md md:text-left">Our Photo Gallery</h2>

        <!-- Gallery Grid -->
        <div class="grid w-full grid-cols-1 gap-4 md:grid-cols-2 lg:grid-cols-4">
            <!-- Picture 1 -->
            <Image 
                class="w-full rounded-lg object-cover" 
                src={service1} 
                alt="A woman lying on spa parlor bed" 
            />
            <!-- Picture 2 -->
            <Image 
                class="w-full rounded-lg object-cover" 
                src={service2} 
                alt="A topless woman getting a back massage" 
            />
            <!-- Picture 3 -->
            <Image 
                class="w-full rounded-lg object-cover" 
                src={service3} 
                alt="A woman getting a shoulder massage lying down" 
            />
            <!-- Picture 4 -->
            <Image 
                class="w-full rounded-lg object-cover" 
                src={service4}  
                alt="A woman getting a face massage" 
            />
            <!-- Picture 5 -->
            <Image 
                class="w-full rounded-lg object-cover" 
                src={service5} 
                alt="A picture of a leg being waxed" 
            />
            <!-- Picture 6 -->
            <Image 
                class="w-full rounded-lg object-cover" 
                src={service6} 
                alt="A picture of someone getting a foot massage" 
            />
            <!-- Picture 7 -->
            <Image 
                class="w-full rounded-lg object-cover" 
                src={service7} 
                alt="A woman getting a facial treatment with cucumber on her eyes" 
            />
            <!-- Picture 8 -->
            <Image 
                class="w-full rounded-lg object-cover" 
                src={service8} 
                alt="A topless woman getting a back massage" 
            />
        </div>
    </div>
</section>
